body {
  background-color: #f5f6fa;
}

h1 {
  color: black;
}
.app__selectCountry {
  color: black !important;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.75;
}

.app__right {
  display: flex;
  flex-direction: column;
  flex: 0.25;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoBox--red {
  border-color: red;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
@media (min-width: 990px) {
  .app__right {
    margin-left: 10px;
  }
}

@media (max-width: 420px) {
  .app__stats {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .app__header {
    display: flex;
    flex-direction: column;
  }
}
